<div class="container">
    <div class="bg-white border" *ngIf="(photo$ | async) as photo">
        <div class="row">
            <div class="col-lg-6">
                <ap-photo 
                    [url]="photo.url" 
                    [description]="photo.description"></ap-photo>
            </div>

            <div class="col-lg-6 p-4">
                <small>
                    <p class="text-left break-word">{{photo.description}}</p>
                    <div class="text-left mb-4">
                        <div class="d-inline" showIfLogged><i (click)="like(photo)" class="fa fa-heart-o fa-2x mr-2 pull-left"></i>{{ photo.likes }}</div>
                        <i class="fa fa-comment-o fa-2x mr-2 ml-2"></i>{{ photo.comments }}
                        <a photoOwnerOnly [ownedPhoto]="photo" (click)="remove()"><i class="fa fa-trash-o fa-2x pull-right"></i></a>
                    </div>
                    <hr>
                </small>
                <ap-photo-comments 
                    *ngIf="photo.allowComments; else warning"
                    [photoId]="photoId">
                </ap-photo-comments>
                <ng-template #warning>
                    <p>User has disabled comments for this photo</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>